.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  width: 100%;

  label {
    color: #949ca5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .password-field {
    border: 1px solid #f5f7fb;
    border-radius: 4px;
    background-color: #f5f7fb;

    .password-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      padding: 10px 10px 8px;
      box-sizing: border-box;

      input {
        all: unset;
        flex-grow: 1;
      }

      ::-ms-input-placeholder {
        color: #a9a9a9;
        font-size: 16px;
      }

      ::placeholder {
        color: #a9a9a9;
        font-size: 16px;
      }

      button {
        all: unset;
        cursor: pointer;
        height: 19px;
        width: 19px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .strength {
      height: 2px;
      background-color: #8bb477;
    }
  }

  .invalid {
    border: 1px solid red;
  }
}
