.modal-body {
  .title {
    color: #3c4857;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 41px;

    margin-bottom: 20px;
  }

  @media only screen and (max-width: 768px) {
    height: calc(100vh - 140px);
    padding: 20px 20px 40px;
    overflow-y: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width: 100%;

    label {
      color: #949ca5;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 24px;
    }

    input {
      all: unset;

      border: 1px solid #f5f7fb;
      border-radius: 4px;
      background-color: #f5f7fb;
      padding: 10px;

      box-sizing: border-box;
    }

    input.invalid {
      // border: 2px solid rgb(246, 204, 70);
      border: 1px solid red;
    }

    ::-ms-input-placeholder {
      color: #a9a9a9;
      font-size: 16px;
    }

    ::placeholder {
      color: #a9a9a9;
      font-size: 16px;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    button {
      all: unset;
      cursor: pointer;
      width: 180px;
      height: 45px;

      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;

      background-color: #0e85ff;
      color: white;

      border-radius: 4px;

      box-sizing: border-box;
    }

    button:hover {
      background-color: #0e87ffdf;
    }

    button:active {
      background-color: #0e87ffae;
      border: 1px solid #012d58;
      font-size: 16px;
    }

    button:disabled {
      cursor: auto;
      background-color: rgb(203, 202, 202) !important;
      border: unset !important;
      font-size: unset !important;
      color: white !important;
    }
  }
}

.input-error {
  color: red;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}
