.app-bar {
  display: none;

  padding: 20px;
  background-color: #f5f7fb;

  justify-content: space-between;
  align-items: center;

  .back {
    all: unset;
    cursor: pointer;
    width: min-content;

    img {
      height: 30px;
      width: 30px;
    }
  }

  @media only screen and (max-width: 768px) {
    display: flex;
  }
}
